<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="css/styles.css">
  <meta charset="utf-8">
  <title>To-Do-List</title>
</head>

<body>
      <!--Header.....-->
      <div class="box" id="heading">
        <h1>
          <%= kindOfDay %>
        </h1>
      </div>

      <!--Items inside the boc.........-->
      <div class="box">
        <% newListItem.forEach(function(item){ %>
          <form action="/delete" method="post">
            <div class="item">
              <input type="checkbox" name="checkbox" onChange="this.form.submit()" value="<%=item._id%>" />
              <p>
                <%= item.name %>
              </p>
            </div>
            <input type="hidden" name="listype" value="<%=kindOfDay%>" />
          </form>
          <% }); %>

            <!--Submit.........-->
            <form class="item" action="/" method="post">
              <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
              <button type="submit" name="listName" value="<%=kindOfDay%>" >+</button>
            </form>
      </div>



</body>

</html>